.menu {
    background-color: rgb(0, 0, 0)!important;
    text-decoration: none!important;
    font-family: Arial, Helvetica, sans-serif!important;
}

.cursor {
    cursor: pointer;
    color: white;
    text-decoration: none!important;
}