.titulo {
    color: rgb(204, 206, 195)!important;
    text-align: center!important;
    font-weight: bold!important;
}

.img {
    width: 800px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

.caixa {
    background-color: #863294;
}

.botao {
    border-color: white !important;
    background-color: rgb(159, 165, 107)!important;
    color: white !important;
}

.postagens {
    background-color: rgb(228, 188, 218) !important;
}