.titulo {
    color: black!important;
    text-align: center!important;
    font-weight: bold!important;
}

.img {
    width: 800px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

.caixa {
    background-color: white;
}

.botao {
    border-color: white !important;
    background-color: darkred!important;
    color: white !important;
}

.postagens {
    background-color: white !important;
}